################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/new2/FileContentIndex/a8ec16be-6d19-4bcb-9619-c4132f92e9f6.vsidx
*.vsidx
